@media only screen and (min-width: 768px) {

.navbar-brand{

  display: none;
}
.fixed-bottom{

  display: none;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  border-bottom: 1px solid lightgrey;
  height: 50px;
  z-index: 1;
}

body {
  padding-top: 70px;
}

.container{

  padding-left:200px;
  padding-right:0;
  margin-top: 0px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  background-color: aliceblue;
  z-index: 1;
}

.logo {
  display: block;
  text-align: center;
  margin: 10px;
  height: 30px;
  padding: 0px;
}


}



.search.btn{
  background-color: aliceblue;

}

.btn-outline-secondary, .btn-primary{

  background-color: aliceblue; 
  color:#007BFF;
  border: none;
}

.btn-outline-secondary:hover, .btn-primary:hover{

  background-color: #007BFF;
  color:#FFFFFF;
}

.btn-secondary {
  background-color: rgb(217, 217, 217);
  color: grey; 
  border: none;
}

.btn-secondary:hover {
  background-color: grey;
  color: #FFFFFF; 
}

.btn-success {
  background-color:rgb(189, 245, 196);
  color: rgb(0, 178, 0); 
  border: none;
}

.btn-success:hover {
  background-color: rgb(0, 178, 0);
  color: #FFFFFF; 
}

.btn-danger {
  background-color:rgb(255, 192, 192);
  color: red; 
  border: none;
}

.btn-danger:hover {
  background-color: red;
  color: #FFFFFF; 
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  background-color: #f8f9fa; /* Set background color */
}

::-webkit-scrollbar-thumb {
  background-color: rgb(217, 217, 217); /* Set thumb color */
}

::-webkit-scrollbar-thumb:hover {
  background-color: grey; /* Set thumb color on hover */
}

::-webkit-scrollbar-track {
  background-color: #f8f9fa; /* Set track color */
}

.search{

  right: 50px;
}

body {
  background-color: #ffffff;
}


.form-group label {
  font-weight: bold;
}
.forgot-password {
  text-align: right;
  margin-top: -10px;
}
.social-buttons {
  margin-top: 20px;
}
.social-buttons .btn {
  width: 100%;
  margin-bottom: 10px;
}

.card {

  margin-top: 50px;
  margin-bottom: 70px;
}

.list-group-item{
  border: none;
  background-color: aliceblue;
  }
  
  .list-group-item:hover{
    border: none;
    background-color: #007BFF;
    color:#FFFFFF;
    }

    .list-group-item:visited:active{
      border: none;
      background-color: #007BFF;
      color:#FFFFFF;
      }
  
  .list-group-item-action i {
    padding-left: 20px;  
    padding-right: 20px; 
    width:50px;
  }
  
  
@media only screen and (max-width: 767px) {

  body {
    padding-top: 90px;
  }

  .col-md-6{

    margin-bottom: 70px; 
  }

 .sidebar{
  display: none;
 }

 .navbar {
  position: fixed;
  width: 100%;
  top: 0;
  border-bottom: 1px solid lightgrey;
  height: 80px;
  z-index: 1;
}

 .navbar-spacing{

  display: none;
 }

 .navbar-nav {
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
}
  
  .fixed-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    z-index: 1;
    background-color: white;
    border-top: 1px solid lightgrey;
  }
  
  .fixed-bottom .nav-link {
    font-size: 1.5rem;
  }
  
  .fixed-bottom .nav-link i {
    margin: 20px;
  }
  


  .mt-3{

    margin-bottom: 70px;
  }

  .btn-success, .btn-danger, .btn-primary, .btn-secondary {

    margin: 5px;
  }

  .nav-link.active {
    color: #000000;
  
}

}